/* You can add global styles to this file, and also import other style files */
.hoverwell:hover {
    background-color: #485563;
    cursor: pointer;
  }
 
  .container {
    padding-top: 10px;
  }
 
  .pointable {
    cursor: pointer;
  }
 
  button {
    color: rgb(196, 34, 34);
  }
 
  [hidden] {
    display: none !important;
  }
 
  .toast-success {
    background-color: #0dc90d;
  }
  .toast-error {
    background-color: #e8180d;
  }
  .toast-info {
    background-color: #2113e3;
  }
  .toast-warning {
    background-color: #f89406;
  }